{% extends 'layout.html' %}
{% block header %}
<h1>{{ post['title'] }} </h1>
{% if post['primary_tag'] == 'System Messages' %}
	<p>Posted by <span class="glyphicon glyphicon-user"></span> <a href="/about">{{ post['author'] }}</a> on <span class="glyphicon glyphicon-time"></span> {{ post['date'].strftime('%Y-%m-%d') }} &nbsp;<img src="/static/pictures/tag.png" height="20" width="20">&nbsp;{{post['primary_tag']}}</p>
{% else %}
	<p>Posted by <span class="glyphicon glyphicon-user"></span> <a href="/about">{{ post['author'] }}</a> on <span class="glyphicon glyphicon-time"></span> {{ post['date'].strftime('%Y-%m-%d') }} &nbsp;<img src="/static/pictures/tag.png" height="20" width="20">&nbsp;<a href="/{{post['primary_tag']}}">{{post['primary_tag']}}</a></p>
{% endif %}
{% endblock %}

{% block middle_area %}
					<figure class="margin-b-2">
						<img class="img-responsive" src="{{ post['img_location'] }}" alt="">
						<b>{{ post['image_location'] }}</b>
						<figcaption class="margin-t-h">{{ post['img_caption'] }}</figcaption>
					</figure>

					<p class="lead"><h4>{{ post['lead']|safe }} </h4></p><hr>
					<p> {{ post['text']|safe }} </p>
					<hr>

					<!-- Comment form -->
					<h3>Leave a comment</h3>
					<p>Please keep in mind that comments are moderated and rel="nofollow" is in use. So, please do not use a spammy keyword or a domain as your name, or else it will be deleted. Thank you!</p>
					<div class="well">
						<form action="{{ url_for('add_comment',title=post['title']) }}" method="post">
							<div class="form-group">
								<label for="contactName">Name</label>
								<input type="text" class="form-control" id="contactName" placeholder="Enter your name" name="contactName">
							</div>
							<div class="form-group">
								<label for="contactEmail">Email</label>
								<input type="email" class="form-control" id="contactEmail" placeholder="Enter email" name="contactEmail">
								<p class="help-block">Make sure you use a valid email address</p>
							</div>
							<div class="form-group">
								<label for="contactComment">Comment</label>
								<textarea class="form-control" id="contactComment" name="contactComment"></textarea>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
					<hr>
					<!-- Comments -->
					<h3>{{ post['comments'] |length }} Comments</h3>
					{% if post['comments'] | length == 0 %}
						No comments were made yet. <b>Be the first one to comment!</b>
					{% endif %}
					{% for comment in post['comments'] %}
						<div class="well">
							<div class="media">
								<div class="media-left">
									<!-- <img src="http://placehold.it/70x70" alt=""> -->
									<h1>{{ comment['upvotes'] }}</h1>
								</div>
								<div class="media-left">
									<!-- <img src="http://placehold.it/70x70" alt=""> -->

								</div>
								<div class="media-body">
									<h4 class="margin-t-0">{{ comment['author'] }}</h4>
									<p>{{ comment['comment_date'] }}</p>
									<p>{{ comment['comment'] }}</p>
									<p>
										<a href="{{ url_for('upvote', comment_id=comment['id'], title=post['title']) }}" style="text-decoration:none">
											<button class="btn btn-sm btn-default">
												<span class="glyphicon glyphicon-thumbs-up"></span> Upvote
											</button>
										</a>
										<a href="{{ url_for('downvote', comment_id=comment['id'], title=post['title']) }}" style="text-decoration:none">
											<button class="btn btn-sm btn-default">
												<span class="glyphicon glyphicon-thumbs-down"></span> Downvote
											</button>
											</a>
										<button class="btn btn-sm btn-default">
											<span class="glyphicon glyphicon-comment"></span> Reply
										</button>
									</p>
								</div>
							</div>
						</div>
					{% endfor %}

{% endblock %}