{% extends 'layout.html' %}
{% block header %}
<h1>Subscribe</h1>
{% endblock %}

{% block middle_area %}
<form action="{{ url_for('subscribe')}}" method="post">

<div class='well'>
    <div class='form-group'>
        <label for='email'>Email</label>
        <input type='SEARCH' class='form-control' id='email' name='email' placeholder='Enter your email to register'>
    </div>
    <button type='submit' class="btn btn-default">Submit</button>
    <div align="center">
        {% if message is defined %}
            <h4><font color="red"> {{ message }} </font></h4>
        {% elif success_message is defined %}
        <h4><font color="green"> {{ success_message }} </font></h4>
        {% endif %}
    </div>
</div>

</form>

{% endblock %}